<!--大森-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>管理者画面</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<h1>管理者画面</h1>

	<!--リンク-->
	<div>
		<a href="/admin/logout">ログアウト</a><br>
		<a href="/user/">ホームページ</a><br>
		<a href="/admin/books">在庫一覧</a><br>
		<a href="/admin/books/add">本追加</a><br>
		<a href="/admin/writers">著者の追加</a><br>
		<a href="/admin/categories">カテゴリー追加</a><br>
		<a href="/admin/reservations">予約一覧</a><br>
		<a href="/admin/loans">貸し出し状況</a><br>
	</div>
	<h2>貸し出し</h2>

	<form action="/admin/books/search" method="post">
		本の登録ID<input type="text" name="book_id">
		<button>追加</button>
	</form>

	<hr>
	
	<form action="/admin/user/search" method="post"> 
<!--		URLマッピングにユーザID検索っぽいのがない-->
	ユーザID<input type="text" name="user_id">
	<button>確定</button>
	</form>

</body>

</html>