<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>本の追加</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<main>
		<h1>本の追加</h1>
		<p th:each="error:${errors}" id="error">[[${error}]]</p>
		<a class="btn" th:href="@{/admin/}">管理者メニューに戻る</a>

		<form action="/admin/books" method="post">
			タイトル<input type="text" name="title"><br>
			著者<input type="text" name="writer"><br>
			出版社<input type="text" name="publisher"><br>
			出版月<input type="date" name="date"><br>
			<select name="categoryName">
				<option th:each = "category : ${categoryList}" 
								th:value = "${category.categoryName}">
								[[${category.categoryName}]]
				</option>
			</select><br>
			本の要約文<input type="text" name="summary">
			<button>登録</button>
		</form>
	</main>
	
	<p>デモ入力著者 : 山田太郎</p>
</body>

</html>