<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>予約確定</title>
</head>
<body>
	<!--大森-->
	<h1>予約確定</h1>
	<div>としょんか</div>
	<div>[[${today}]]　予約が確定しました！</div>
				
	<!--リンク-->
	<div>
		<a href="/user/logout">ログアウト</a><br>
		<a href="/user/">トップページ</a><br>
		<a href="/user/mypage">マイページ</a><br>
		<a href="/user/search">本検索</a>
	</div>
	<br>
	
	<!--予約確定内容一覧-->
	<table border="1">
		<tr>
			<td>タイトル</td>
			<td>著者</td>
			<td>カテゴリー</td>
		</tr>
		<th:block th:each="reservatonConfirmed:${reservatonsConfirmed}">
			<tr th:each="rentaldetails:${reservatonConfirmed.rentaldetail}">
				<td>[[${rentaldetails.book.title}]]</td>
				<td>[[${rentaldetails.book.writer.writerName}]]</td>
				<td>[[${rentaldetails.book.category.categoryName}]]</td>
				<td style="color: rgb(255, 128, 128);">[[${rental.dropDate}]]</td>
			</tr>
		</th:block>
	</table><br>

</body>
</html>