<!--原田-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>貸し出し一覧</title>
</head>

<body>
<header>〇〇図書館　管理者</header>

<h1>貸し出し一覧</h1>

<table border="1">
    <tr>
        <th>本一覧</th>
        <th>ユーザID</th>
		<th>利用者名</th>
        <th>期限</th>
        <th>返却</th>
    </tr>

    <tr th:each="rental : ${rentalList}">

        <!-- 本はまとめて表示 -->
        <td>
            <ul>
                <li th:each="detail : ${rental.rentaldetail}">
                    [[${detail.book.title}]]
                </li>
            </ul>
        </td>

        <td>[[${rental.user.id}]]</td>
		<td>[[${rental.user.name}]]</td>
        <td>[[${rental.dropDate}]]</td>

        <td>
            <form th:action="@{/admin/rental/{rentalId}/return(rentalId=${rental.id})}"method="post">
                <button>返却</button>
            </form>
        </td>

    </tr>

</table>

</body>
</html>