<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset = "UTF-8">
<title>貸し出し一覧</title>
</head>
<body>
	<header>〇〇図書館　管理者</header>
<h1>貸し出し一覧</h1>
<table border="1">
	<tr>
		<td>本ID</td>
		<td>タイトル</td>
		<td>著者</td>
		<td>ユーザID</td>
		<td>期限</td>
		<td>返却</td>
	</tr>
	
	<tr th:each = "rental : ${rentalList}">
		<td>[[${rental.id}]]</td>
		<td>[[${rental.title}]]</td>
		<td>[[${rental.writer}]]</td>
		<td>[[${rental.userId}]]</td>
		<td>[[${rental.date}]]</td>
		<td><form action="|/admin/loans/${rental_id}/return}">
					<button>返却</button>
				</form>
		</td>
	</tr>
</table>
</body>
</html>