<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>レビュー投稿フォーム</title>
	<link rel="stylesheet" href="/css/ReviewStyle.css">
	<script>
		function keikoku() {
			let judge = confirm("一度投稿したら編集・削除ができません。本当に投稿しますか？");

			return judge;

		}
	</script>

</head>

<body>
	<!--左ナビゲーション-->
	<div class="sidebar">
		<div class="site-title">としょんか</div>
		<a href="/user/logout">ログアウト</a>
		<a href="/user/mypage">マイページ</a>
		<a href="/user/reservations">予約</a>
		<a href="/user/search">本検索</a>
	</div>
	
	<div class="container">
	<h1>レビュー投稿フォーム</h1>
	<form action="/user/reviews" method="post" onsubmit="return keikoku();">
		<div class="form-group">
			<input type="hidden" name="bookId" th:value="${bookId}">
			レビュー：<br>
			<textarea name="bookReview" rows="10" cols="30"></textarea>
		</div>
		<div style="color: red;">空欄でのレビュー投稿はできません。</div>
		<br>
		<button>投稿</button>

	</form>
	</div>
</body>

</html>