<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>レビュー投稿フォーム</title>
	<link rel="stylesheet" href="/css/ReviewStyle.css">
	<script>
		let reviewForm = null;

		function keikoku(event, form) {
			event.preventDefault();

			reviewForm = form;

			document.getElementById("reviewModal")
				.classList.add("show");

			return false;
		}

		function closeReviewModal() {
			document.getElementById("reviewModal")
				.classList.remove("show");

			reviewForm = null;
		}

		function submitReview() {
			if (reviewForm) {
				reviewForm.submit();
			}
		}
	</script>

</head>

<body>
	<!--左ナビゲーション-->
	<div class="sidebar">
		<div class="site-title">としょんか</div>
		<a href="/user/logout">ログアウト</a>
		<a href="/user/mypage">マイページ</a>
		<a href="/user/reservations">予約</a>
		<a href="/user/search">本検索</a>
		<a href="/user/likebooks">お気に入り</a>
	</div>
	
	<div class="container">
	<h1>レビュー投稿フォーム</h1>
	<form action="/user/reviews"
		method="post"
		onsubmit="return keikoku(event,this);">
		<div class="form-group">
			<input type="hidden" name="bookId" th:value="${bookId}">
			ニックネーム：<br>
			<input type="text" name="nickname" style="height: 30px; ">
			レビュー：<br>
			<textarea name="bookReview" rows="10" cols="30"></textarea>
		</div>
		<div style="color: red;">空欄でのレビュー投稿はできません。</div>
		<br>
		<button>投稿</button>

	</form>
	</div>
	<!-- ==========================
	     レビュー投稿確認モーダル
	     ========================== -->
	<div id="reviewModal" class="custom-modal">
		<div class="custom-modal-content">

			<div class="custom-modal-header">
				📝 レビュー投稿確認
			</div>

			<div class="custom-modal-body">
				<p>
					一度投稿すると<br>
					編集・削除はできません。<br><br>

					この内容で投稿しますか？
				</p>
			</div>

			<div class="custom-modal-footer">
				<button type="button"
					class="modal-btn cancel-btn"
					onclick="closeReviewModal()">
					キャンセル
				</button>

				<button type="button"
					class="modal-btn ok-btn"
					onclick="submitReview()">
					投稿する
				</button>
			</div>

		</div>
	</div>
</body>

</html>