<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザメイン画面</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<h1>としょんか</h1>
	
	<!--リンク-->
	<div>
		<a href="/user/logout">ログアウト</a>
		<a href="/user/mypage">マイページ</a>
		<a href="/user/reservations">予約</a>
		<a href="/user/search">本検索</a>
	</div>
	
	<!--お知らせ表示-->
	<table>
		<tr th:each="">
			<th>お知らせ</th>
		</tr>
		<tr th:each="news:${newsList}">
			<td>[[${news.content}]]</td>
		</tr>
	</table>
	
	<!--予約状況-->
	<div>予約状況</div>
	<table>
		<tr>
			<th>本のタイトル</th>
			<th>状況</th>
		</tr>
		<tr th:each="">
			<td>[[${}]]</td>
			<td>[[${}]]</td>
		</tr>
	</table>
	
	<!--カレンダー-->
	
	<!--としょんかの詳細情報-->
	<div>
		アクセス　東京都港区芝５丁目３３
		営業時間　9:00 ～ 20:00
		定休日　月曜日(祝日除く)、毎月第3木曜日
		概要　広々とした読書スペースがあり、ゆったりとした時間が過ごせます。
	</div>
	
	<!--リマインド-->
	<script>
		alert('リマインド\n明日までに以下の本を返却してください。');
	</script>

</body>
</html>