<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>著者の追加</title>
</head>
<body>
<h1>著者の追加</h1>
	
<!--<span th:text="${errors}" style="color:red;"></span>-->

<li th:each="data:${errors}" style="color:red;">[[${data}]]</li>

	<form action="/admin/writers" method="post">		

		著者<input type="text" name="writerName"th:value="${writerName}"><br>
		
		著者紹介文<input type="text" name="writerDescription"th:value="${writerDescription}"><br>
		
			<button>登録</button>
	</form>
</body>
</html>