<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>著者一覧</title>
	
	
</head>

<body>
	<h1>著者一覧</h1>
	
	


<!--	<a th:href="|/users/${userId}/edit|" style=" float: right;">-->
<!--		<img src="css/user.png" style="height: 70px; width: 70px;"></a><br>-->

<!--	<p>現在時刻: <span id="clock"></span></p>-->

<!--	<script>-->
<!--		function updateClock() {-->
<!--			const now = new Date();-->
<!--			const formatted = now.getFullYear() + '-' +-->
<!--				String(now.getMonth() + 1).padStart(2, '0') + '-' +-->
<!--				String(now.getDate()).padStart(2, '0') + ' ' +-->
<!--				String(now.getHours()).padStart(2, '0') + ':' +-->
<!--				String(now.getMinutes()).padStart(2, '0') + ':' +-->
<!--				String(now.getSeconds()).padStart(2, '0');-->
<!--			document.getElementById('clock').textContent = formatted;-->
<!--		}-->
<!--		setInterval(updateClock, 1000); // 1秒ごとに更新-->
<!--		updateClock(); // 初回即時実行-->
<!--	</script>-->





<!--	並び替え-->
<!--	<a href="/tasks">ALL</a>-->

<!--	<a href="/tasks?sort=today">本日</a>-->

<!--	<a href="/tasks?sort=status">進捗状況</a>-->

<!--	<a href="/tasks?sort=important">重要度</a>-->

<!--	キーワード検索-->
<!--	<br>-->
<!--	<form action="/tasks" method="get">-->
<!--		<input type="text" name="keyword" th:value="${keyword}" placeholder="タイトル検索" style="width: 300px; height: 25px;">-->
<!--		<button>検索</button>-->
<!--	</form>-->

<!--	<form action="/tasks/add" method="get">-->
<!--		<button>タスク追加</button>-->
<!--	</form>-->

	

	
	
	<table border="1">
		<tr>
			<th>著者ID</th>
			<th>著者</th>
			<th>著者紹介文</th>
<!--			<th>本の冊数</th>-->
			<th>削除</th>
		</tr>
		
		<tr th:each="writerList:${writerList}">
			<td th:text="${writerList.id}"></td>
			<td th:text="${writerList.writerName}"></td>
			<td th:text="${writerList.writerDescription}"></td>
			
<!--			<td></td>-->
<!--↑th:textで本の冊数を表示-->
			<td>
				<form th:action="@{/admin/writers/list/{id}/delete(id=${writerList.id})}" method="post">
					<input type="hidden" name="writerName" th:value="${writerList.writerName}">
					<button>削除</button>
				</form>
			</td>

		</tr>
	</table>

		
</body>

</html>